*{
  margin: 0px;
  padding: 0px;
}
.test{
  color: blue;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: row-reverse;
}
.box{
  background-color: red;
  padding: 20px;
  width: 110px;
}
.box2{
  background-color: green;
}
.box3{
  background-color: blue;
}